#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display:grid;
}
label{
  
  text-align: center;
  margin:10px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(31, 31, 59, 0.87);
}

.form{
  margin:5px;
  
}
.form-gap{
  
  border-radius: 25px;
 border-color:rgba(31, 31, 59, 0.87);
 border-width:1px;
 border-style:solid;
 padding:20px;
}
.button-gap{
margin-top:15px;
}



.card {
  padding: 2em;
}

.main-form{
 
  display:grid;
 position:fixed;
  border-radius:10px;
   min-width: 50%;
   padding:10px;
    min-height:50%;
  top:23%;
  right:23%;
 
  justify-content: center;
  align-items: center;
  z-index: 1000;
 background:#6C91BF;
}
button{
  background-color:#29385cde;
  color:rgb(171, 199, 239);
  
}

.sensor-display{
display:flex;
}
.read-the-docs {
  color: #888;
}
